h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 25px;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: $color-main;
    bottom: -5px;
    left: 0;
  }
}

#home {
  .hero {
    width: 100%;
    position: relative;

    img.jumbotron {
      width: 100%;
    }

    h2 {
      font-size: 20px;
      color: $color-white;
    }

    .hero-content {
      position: absolute;
      bottom: 30px;
      left: 15px;
    }
  }

  .menu-of-the-week {
    padding: 45px 15px;
    margin-bottom: 20px;

    .items-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      .item {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: $color-black;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-radius: 10px;
        }

        h4 {
          font-size: 15px;
          color: $color-black;
          text-align: center;
          padding: 10px;
        }
      }
    }
  }
}

#home .rekomendasi,
#like #restaurant {
  padding: 10px 15px;
}

#home .rekomendasi .restaurants-wrapper,
#like .restaurants-wrapper {
  display: grid;
  gap: 20px;
}

#like {
  p {
    font-size: 14px;
  }
}

#home,
#detail,
#like,
#error {
  min-height: calc(100vh - 156px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#error {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  figure {
    text-align: center;

    img {
      height: 60vh;
    }

    figcaption {
      font-size: 14px;
    }
  }

  p {
    font-weight: $fw-bold;

    a {
      color: $color-white;
      background-color: $color-main-darker;
      padding: 15px 20px;
      border-radius: 10px;
      font-weight: 400;

      &:hover {
        background-color: $color-main;
      }
    }
  }
}

main {
  .search-container {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    padding: 10px 15px;
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;
    overflow-y: auto;

    .flex-container {
      display: flex;
    }

    i.bi-chevron-left {
      font-size: 25px;
    }
  }

  .search-wrapper {
    width: 100%;
    display: flex;
    height: fit-content;
    position: relative;

    input {
      width: 93%;
      min-height: 44px;
      border: none;
      border-radius: 5px 0 0 5px;
      padding: 10px 15px 10px 45px;
      background-color: whitesmoke;
    }

    button {
      width: 7%;
      color: $color-white;
      background-color: $color-main;
      padding: 5px 10px;
      border-radius: 0 5px 5px 0;
    }

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
    }
  }

  .search-list {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    li {
      background-color: $color-white;
      border-radius: 5px;
      margin-top: 5px;
    }

    .item {
      padding: 20px 25px;
      width: 100%;
      height: 100%;
      justify-content: start;
      gap: 10px;

      .img-wrapper {
        width: 80px;
        height: 55px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

      p {
        font-size: 14px;
        font-weight: $fw-md;
        color: $color-grey;
        margin-top: 3px;
      }
    }
  }

  .rekomendasi,
  .like {
    .restaurants-wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

#flashMessage {
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 9999;
  color: $color-white;
  padding: 10px 15px;
  border-radius: 7px;
  transition: 0.3s;

  .flashMessage__content {
    display: flex;
    gap: 20px;

    .flashMessage__message {
      font-size: 15px;
    }

    button {
      min-width: auto;
      min-height: auto;
      color: $color-white;
      font-size: 18px;
    }
  }
}

#flashMessage.active {
  opacity: 1;

  &.error {
    background-color: $color-error;
  }

  &.success {
    background-color: $color-success;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $color-main;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (min-width: 576px) {
  #home .menu-of-the-week {
    .items-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  main {
    .rekomendasi,
    .like {
      .restaurants-wrapper {
        grid-template-columns: repeat(2, 1fr);

        .item-content {
          padding: 10px 40px 20px 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #navigationDrawer ul {
    transform: translate(800px, 0);
  }
}

@media screen and (min-width: 992px) {
  #home {
    .hero {
      height: calc(100vh - 54px);
      position: relative;
      z-index: 99;

      h2 {
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
          0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
        font-size: 26px;
      }

      img.jumbotron {
        height: 100%;
        object-fit: cover;
      }

      .hero-content {
        width: 60%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        bottom: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
      }

      .search-container-desktop {
        width: 100%;
        position: relative;
      }

      .search-wrapper-desktop {
        width: 100%;
        display: flex;

        input {
          width: 93%;
          min-height: 44px;
          border: none;
          border-radius: 5px 0 0 5px;
          padding: 10px 15px 10px 45px;
        }

        button {
          width: 7%;
          color: $color-white;
          background-color: $color-main;
          padding: 10px 15px;
          border-radius: 0 5px 5px 0;
        }

        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
        }
      }

      .search-list-desktop {
        position: absolute;
        width: 100%;

        li {
          background-color: $color-white;
          border-radius: 5px;
          margin-top: 5px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        .item {
          padding: 20px 25px;
          width: 100%;
          height: 100%;
          justify-content: start;
          gap: 10px;

          .img-wrapper {
            width: 80px;
            height: 55px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }

          p {
            font-size: 14px;
            font-weight: $fw-md;
            color: $color-grey;
            margin-top: 3px;
          }
        }
      }
    }

    .menu-of-the-week {
      padding: 45px 30px;

      .items-wrapper {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  #home .rekomendasi,
  #like #restaurant {
    padding: 10px 30px;
  }

  main {
    .rekomendasi,
    .like {
      .restaurants-wrapper {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #home .hero img.jumbotron {
    min-width: 1000px;
  }
}

@media screen and (min-width: 1400px) {
  #home .menu-of-the-week {
    .items-wrapper {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  main {
    .rekomendasi,
    .like {
      .restaurants-wrapper {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1900px) {
  #home .menu-of-the-week {
    .items-wrapper {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  main {
    .rekomendasi,
    .like {
      .restaurants-wrapper {
        grid-template-columns: repeat(7, 1fr);
      }
    }
  }
}
