.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 0.6rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 25px;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: $color-main;
    bottom: -5px;
    left: 0;
  }
}

#home {
  h4 .skeleton-text:last-child,
  .lokasi .skeleton-text:last-child {
    width: 30%;
  }

  .deskripsi .skeleton-text:last-child {
    width: 80%;
  }

  .hero {
    width: 100%;
    height: 45vh;
    position: relative;

    img.jumbotron {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h2 {
      font-size: 20px;
      color: $color-white;
    }

    .hero-content {
      position: absolute;
      bottom: 30px;
      left: 15px;
    }
  }

  .menu-of-the-week {
    padding: 45px 15px;
    margin-bottom: 20px;

    .items-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      .item {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: $color-black;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-radius: 10px;
        }

        h4 {
          font-size: 15px;
          color: $color-black;
          text-align: center;
          padding: 10px;
        }
      }
    }
  }
}

#detail {
  .rating .skeleton-text:last-child {
    width: 20%;
  }

  .restaurant-name .skeleton-text:last-child,
  .restaurant-address .skeleton-text:last-child {
    width: 35%;
  }

  .skeleton-text:last-child {
    width: 80%;
  }

  .menus .skeleton-text {
    width: 30%;
  }

  .customer-reviews .item-header .skeleton-text {
    width: 20%;
  }

  .customer-reviews form .skeleton-form .skeleton-text:nth-child(1) {
    height: 2.8rem;
  }

  .customer-reviews form .skeleton-form .skeleton-text:nth-child(2) {
    height: 5rem;
    width: 100%;
  }

  .customer-reviews form .action .skeleton-text {
    height: 2.5rem;
    width: 20%;
  }

  .divider {
    background-color: lightgray;
    width: 100%;
    height: 1px;
    margin: 20px 0 0 0;
  }

  button {
    cursor: pointer;
    border: none;
  }

  button,
  input,
  textarea {
    min-width: 44px;
    min-height: 44px;
  }

  p,
  li,
  input,
  textarea {
    font-size: 14px;
  }

  input,
  textarea {
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid gray;
  }

  textarea {
    font-family: "Inter", sans-serif;
    resize: vertical;
  }

  ul {
    list-style-type: disc;
  }

  .hero {
    width: 100%;
    height: 35vh;
  }

  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .rating {
    font-size: 14px;
  }

  .rating i {
    color: #fcc915;
    font-size: 15px;
  }

  .rating-text {
    margin-left: 5px;
    font-weight: 500;
  }

  .content {
    padding: 20px 15px;
  }

  .top-content,
  .top-content .left-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .content-header-wrapper,
  .menus-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  .content-header h2 {
    font-size: 18px;
  }

  #likeButtonContainer {
    position: absolute;
    top: 0;
    right: 0;
  }

  .like-button {
    background-color: #e4565e;
    color: #fdfffe;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 7px;
  }

  .like-button i {
    margin-right: 3px;
    font-size: 14px;
  }

  h3 {
    font-size: 17px;
    margin-bottom: 5px;

    &::after {
      content: none;
    }
  }

  h4 {
    font-size: 15px;
    margin-bottom: 3px;
  }

  .menus-wrapper ul {
    margin-left: 25px;
  }

  .customer-reviews {
    margin-top: 20px;
    word-wrap: break-word;
    word-break: break-all;
  }

  .customer-reviews form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .customer-reviews form .action button {
    background-color: #f4a304;
    color: #fdfffe;
    padding: 10px 45px;
    border-radius: 7px;
    font-weight: bold;
  }

  .customer-reviews .items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 35px;
  }

  .customer-reviews .item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

#like {
  p {
    font-size: 14px;
  }
}

#search {
  p {
    font-size: 14px;
    font-weight: $fw-md;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
      font-weight: $fw-base;
    }
  }

  .restaurants-wrapper {
    margin-top: 20px;
  }
}

#like,
#search,
#error {
  min-height: calc(100vh - 156px);
}

#home .rekomendasi,
#like #restaurant,
#search {
  padding: 10px 15px;
}

#home .rekomendasi .restaurants-wrapper,
#like .restaurants-wrapper,
#search .restaurants-wrapper {
  display: grid;
  gap: 20px;
}

#error {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  figure {
    text-align: center;

    img {
      height: 60vh;
    }

    figcaption {
      font-size: 14px;
    }
  }

  p {
    font-weight: $fw-bold;

    a {
      color: $color-white;
      background-color: $color-main-darker;
      padding: 15px 20px;
      border-radius: 10px;
      font-weight: 400;

      &:hover {
        background-color: $color-main;
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  .search-container {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    padding: 10px 15px;
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;
    overflow-y: auto;

    .flex-container {
      display: flex;
    }

    i.bi-chevron-left {
      font-size: 25px;
    }
  }

  .search-wrapper {
    width: 100%;
    display: flex;
    height: fit-content;
    position: relative;

    input {
      width: 93%;
      min-height: 44px;
      border: none;
      border-radius: 5px 0 0 5px;
      padding: 10px 15px 10px 45px;
      background-color: whitesmoke;
    }

    button {
      width: 7%;
      color: black;
      font-weight: $fw-md;
      background-color: $color-main;
      padding: 5px 10px;
      border-radius: 0 5px 5px 0;
    }

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
    }
  }

  .search-list {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    li {
      background-color: $color-white;
      border-radius: 10px;
      margin-top: 5px;
    }

    .item {
      padding: 20px 25px;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      justify-content: start;
      gap: 10px;

      &.link-search-list {
        font-size: 14px;
        font-weight: $fw-md;

        &:hover {
          background-color: $color-main;
        }
      }

      .img-wrapper {
        width: 80px;
        height: 55px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

      p {
        font-size: 14px;
        font-weight: $fw-md;
        color: $color-grey;
        margin-top: 3px;
      }
    }
  }

  .rekomendasi,
  .like,
  .search {
    .restaurants-wrapper {
      grid-template-columns: repeat(1, 1fr);

      .item {
        width: 100%;
        height: 450px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-decoration: none;
        color: #2e2d2d;
      }

      .item .img-wrapper {
        width: 100%;
        height: 240px;
        object-fit: cover;
      }

      .item img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      .item-hero {
        position: relative;
        width: 100%;
      }

      .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 135px;
        height: 30px;
        box-sizing: border-box;
        background-color: $color-white;
        padding: 5px 7px;
        border-radius: 5px 0 0 0;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 14px;
      }

      .rating i {
        color: #fcc915;
        font-size: 15px;
      }

      .rating-text {
        margin-right: 3px;
        font-weight: 500;
      }

      .item-content {
        padding: 10px 20px 20px 20px;
      }

      .item-content h4 {
        font-size: 16px;
        margin-bottom: 5px;
      }

      .item-content .lokasi {
        font-size: 14px;
        font-weight: 500;
        color: #585858;
        margin-bottom: 10px;
      }

      .item-content .lokasi i {
        font-size: 13px;
      }

      .item-content .deskripsi {
        font-size: 14px;
      }
    }
  }
}

#flashMessage {
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 9999;
  color: $color-white;
  padding: 10px 15px;
  border-radius: 7px;
  transition: 0.3s;

  .flashMessage__content {
    display: flex;
    gap: 20px;

    .flashMessage__message {
      font-size: 15px;
    }

    button {
      min-width: auto;
      min-height: auto;
      color: $color-white;
      font-size: 18px;
    }
  }
}

#flashMessage.active {
  opacity: 1;

  &.error {
    background-color: $color-error;
  }

  &.success {
    background-color: $color-success;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $color-main;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (min-width: 576px) {
  #home .menu-of-the-week .items-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  main {
    .rekomendasi,
    .like,
    .search {
      .restaurants-wrapper {
        grid-template-columns: repeat(2, 1fr);

        .item-content {
          padding: 10px 40px 20px 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #navigationDrawer ul {
    transform: translate(800px, 0);
  }

  #detail {
    .top-content .left-content,
    .customer-reviews {
      width: 85%;
    }
  }
}

@media screen and (min-width: 992px) {
  #home {
    .hero {
      height: calc(100vh - 54px);
      position: relative;
      z-index: 99;

      h2 {
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
          0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
        font-size: 26px;
      }

      .hero-content {
        width: 60%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        bottom: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
      }

      .search-container-desktop {
        width: 100%;
        position: relative;
      }

      .search-wrapper-desktop {
        width: 100%;
        display: flex;

        input {
          width: 93%;
          min-height: 44px;
          border: none;
          border-radius: 5px 0 0 5px;
          padding: 10px 15px 10px 45px;
        }

        button {
          width: 7%;
          color: black;
          font-weight: $fw-md;
          background-color: $color-main;
          padding: 10px 15px;
          border-radius: 0 5px 5px 0;
        }

        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
        }
      }

      .search-list-desktop {
        position: absolute;
        width: 100%;

        li {
          background-color: $color-white;
          border-radius: 10px;
          margin-top: 5px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        .item {
          padding: 20px 25px;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          justify-content: start;
          gap: 10px;

          &.link-search-list {
            font-size: 14px;
            font-weight: $fw-md;

            &:hover {
              background-color: $color-main;
            }
          }

          .img-wrapper {
            width: 80px;
            height: 55px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }

          p {
            font-size: 14px;
            font-weight: $fw-md;
            color: $color-grey;
            margin-top: 3px;
          }
        }
      }
    }

    .menu-of-the-week {
      padding: 45px 30px;

      .items-wrapper {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  #detail {
    .content {
      padding: 20px 30px;
    }

    .top-content .left-content,
    .customer-reviews {
      width: 60%;
    }

    .top-content {
      flex-direction: row;
    }

    .menus {
      display: flex;
      justify-content: center;
      width: 40%;
      position: relative;
    }

    .menus-wrapper {
      width: 50%;
      height: fit-content;
      padding: 20px 30px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      border-radius: 10px;
      position: absolute;
    }

    .menus .divider {
      display: none;
    }
  }

  #home .rekomendasi,
  #like #restaurant {
    padding: 10px 30px;
  }

  main {
    .rekomendasi,
    .like,
    .search {
      .restaurants-wrapper {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #home .hero img.jumbotron {
    min-width: 1000px;
  }
}

@media screen and (min-width: 1400px) {
  #home .menu-of-the-week {
    .items-wrapper {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  main {
    .rekomendasi,
    .like,
    .search {
      .restaurants-wrapper {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1900px) {
  #home .menu-of-the-week {
    .items-wrapper {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  main {
    .rekomendasi,
    .like,
    .search {
      .restaurants-wrapper {
        grid-template-columns: repeat(7, 1fr);
      }
    }
  }
}
