$color-main: #fcc915;
$color-main-darker: #f4a304;
$color-white: #fdfffe;
$color-black: #2e2d2d;
$color-grey: #585858;
$color-success: #28a745;
$color-error: #e4565e;

$fw-base: 400;
$fw-md: 500;
$fw-bold: 700;
