@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-main: #fcc915;
  --color-main-darker: #f4a304;
  --color-white: #fdfffe;
  --color-black: #2e2d2d;
  --color-grey: #585858;
  --color-error: #e4565e;

  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 700;
}

body {
  background-color: var(--color-white);
  font-family: "Inter", sans-serif;
  max-width: 100%;
  color: var(--color-black);
}

a {
  display: inline-flex;
  min-width: 44px;
  min-height: 44px;
  text-decoration: none;
  color: var(--color-black);
  align-items: center;
  justify-content: center;
}

input {
  min-width: 44px;
  min-height: 44px;
}

button {
  min-width: 44px;
  min-height: 44px;
  background-color: transparent;
  border: none;
  color: var(--color-black);
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.skip-link {
  position: fixed;
  top: 90px;
  left: -200px;
  background-color: var(--color-main-darker);
  border-radius: 5px;
  color: var(--color-white);
  padding: 8px;
  z-index: 101;
}

.skip-link:focus {
  left: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 100;
}

header .logo {
  font-size: 18px;
  color: var(--color-main);
  font-weight: var(--fw-bold);
}

header nav {
  display: flex;
  gap: 5px;
}

nav a {
  font-size: 16px;
  font-weight: var(--fw-md);
}

nav i {
  font-size: 17px;
}

#hamburgerButton i {
  font-size: 22px;
}

#navigationDrawer {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#navigationDrawer ul {
  transform: translate(500px, 0);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: whitesmoke;
  width: 75%;
  height: 100vh;
  top: 0;
  right: 0;
}

#navigationDrawer ul li:nth-child(1) {
  margin-top: 10px;
}

#navigationDrawer ul.open {
  transform: translate(0, 0);
}

#navigationDrawer.open {
  display: inherit;
}

#home .hero {
  width: 100%;
  position: relative;
}

#home .hero img.jumbotron {
  width: 100%;
}

#home .hero h2 {
  font-size: 20px;
  color: var(--color-white);
}

#home .hero .hero-content {
  position: absolute;
  bottom: 30px;
  left: 15px;
}

main .search-container {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  padding: 10px 15px;
  position: fixed;
  z-index: 102;
  top: 0;
  left: 0;
  overflow-y: auto;
}

main .search-container .flex-container {
  display: flex;
}

main .search-container i.bi-chevron-left {
  font-size: 25px;
}

main .search-wrapper {
  width: 100%;
  display: flex;
  height: fit-content;
  position: relative;
}

main .search-wrapper input {
  width: 93%;
  min-height: 44px;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 10px 15px 10px 45px;
  background-color: whitesmoke;
}

main .search-wrapper button {
  width: 7%;
  color: var(--color-white);
  background-color: var(--color-main);
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
}

main .search-wrapper i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

main .search-list {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

main .search-list li {
  background-color: var(--color-white);
  border-radius: 5px;
  margin-top: 5px;
}

main .search-list .item {
  padding: 20px 25px;
  width: 100%;
  height: 100%;
  justify-content: start;
  gap: 10px;
}

main .search-list .item .img-wrapper {
  width: 80px;
  height: 55px;
}

main .search-list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

main .search-list .item p {
  font-size: 14px;
  font-weight: var(--fw-md);
  color: var(--color-grey);
  margin-top: 3px;
}

#home .rekomendasi {
  padding: 10px 15px;
}

#home .rekomendasi h3 {
  font-size: 17px;
  margin-bottom: 15px;
}

#home #restaurant {
  padding: 45px 0 0 0;
}

#home .rekomendasi .restaurants-wrapper, 
#like .restaurants-wrapper {
  display: grid;
  gap: 20px;
}

#like #restaurant {
  padding: 10px 15px;
}

#like h2 {
  font-size: 18px;
  margin-bottom: 30px;
}

#like p {
  font-size: 14px;
}

footer {
  background-color: var(--color-main-darker);
  color: var(--color-white);
  text-align: center;
  padding: 20px;
  font-size: 14px;
  margin-top: 45px;
}


